.pln { color: #ce915b }  /* plain text */

@media screen {
  .str { color: rgb(255, 255, 255) }  /* string content */
  .kwd { color: #6ab7f7 }  /* a keyword */
  .com { color: #a6c378 }  /* a comment */
  .typ { color: rgb(185, 185, 185) }  /* a type name */
  .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: rgb(196, 196, 196) }
  .tag { color: #6ab7f7 }  /* a markup tag name */
  .atn { color: rgb(253, 229, 253) }  /* a markup attribute name */
  .atv { color: #080 }  /* a markup attribute value */
  .dec, .var { color: #606 }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060 }
  .kwd { color: #569cd6; font-weight: bold }
  .com { color: #a6c378; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #569cd6; font-weight: bold }
  .atn { color: #404 }
  .atv { color: rgb(204, 203, 203) }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint { padding: 2px; border: 1px solid #888 }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #eee }
